* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    background-color: #121212;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

body > header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    background-color: none;
    align-items: center;
    z-index: 20;
}

body > header > .left {
    color: #E0E0E0;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

body > header > .left > .logo {
    margin-right: 5px;
}

body > header > .left > .logo > img {
    height: 25px;
    display: block;
    transform: rotate(4deg);
}

body > header > .right > .serial-status {
    padding: 4px 8px;
    margin: 0;
    border: 1px solid #E0E0E0;
    color: #E0E0E0;
    border-radius: 3px;
    margin-left: 10px;
    font-size: 14px;
    text-transform: capitalize;
    display: none;
}

body > header > .right > .serial-status[data-value='connected'] {
    border: 1px solid #4CAF50;
    color: #4CAF50;
    display: inline-block;
}

body > header > .right > .serial-status[data-value='disconnect'] {
    border: 1px solid #FF5722;
    color: #FF5722;
    display: inline-block;
}

body > article {
    flex-grow: 1;
}

.toolbox-box {
    width: 100%;
    height: 200px;
    position: fixed;
    left: 0;
    bottom: 0;
    transform: translateY(100%);
    transition: transform 300mS;
}

.toolbox-box > section.toolbox {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.05);
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    overflow-y: auto;
    padding: 20px;
}


#toolbox-open-close {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -100%);
    background-color: rgba(255, 255, 255, 0.05);
    border: none;
    outline: none;
    color: #E0E0E0;
    padding: 8px 20px;
    font-size: 18px;
    border-radius: 4px 4px 0 0;
    cursor: pointer;
}

.toolbox-box.active {
    transform: translateY(0%);
}

.toolbox-box #toolbox-open-close > i {
    margin-left: 10px;
    transition: transform 300mS;
}

.toolbox-box.active #toolbox-open-close > i {
    transform: rotate(180deg);
}

body > article > section.board {
    overflow-y: auto;
    position: relative;
    height: 100%;
}

.widget-box {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 4px;
    box-shadow: 0 0 6px rgb(0 0 0 / 36%);
    color: #E0E0E0;
    display: flex;
    flex-direction: column;
    user-select: none;
}

section.toolbox .widget-box {
    position: relative;
    margin-right: 20px;
    cursor: pointer;
    flex-shrink: 0;
}

section.toolbox .widget-box > .resize-btn,
section.toolbox .widget-box > header {
    cursor: pointer;
}

section.toolbox .widget-box > header:hover {
    background: none;
}

.widget-box > header {
    text-align: center;
    padding: 8px;
    cursor: move;
    position: relative;
}

.widget-box > header:hover,
.widget-box.moving > header {
    background-color: rgba(255, 255, 255, 0.12);
}

.widget-box > article {
    width: 100%;
    flex-grow: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 30px;
}

.widget-box > .resize-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 6px;
    width: 30px;
    height: 30px;
    cursor: nw-resize;
}

.widget-box > .resize-btn > .icon {
    border: 2px solid rgba(255, 255, 255, 0.12);
    border-top: none;
    border-left: none;
    width: 8px;
    height: 8px;
    display: block;
    position: absolute;
    right: 6px;
    bottom: 6px;
}

.widget-box.text-widget > article > .label {
    font-size: 18px;
}

.widget-box.text-widget > article > .data {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.widget-box.text-widget > article > .data > div {
    
}

.widget-box.text-widget > article > .data .value {
    font-size: 40px;
}

.widget-box.text-widget > article > .data .unit {
    font-size: 22px;
    margin-left: 10px;
}

.widget-box.lamp-widget > article {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.widget-box.lamp-widget > article > div.image {
    flex-grow: 1;
    flex-shrink: 0;
    height: 20px;
    margin-bottom: 15px;
}

.widget-box.lamp-widget > article > div.image > img {
    height: 100%;
    width: auto;
}

.widget-box.gauge-widget > article > .gauge-container {
    height: 100%;
    text-align: center;
}

.widget-box.gauge-widget > article > .gauge-container > svg.gauge {
    height: 100%;
    width: auto;
    max-width: 100%;
}

.widget-box.gauge-widget > article > .gauge-container > svg.gauge > .value {
    stroke:#c9de3c;
    stroke-width:5;
}

.widget-box.log-widget > article {
    padding: 10px;
}

.widget-box.log-widget > article > ul.log-list {
    overflow-y: auto;
    padding: 0;
    margin: 0;
    height: 100%;
}

.widget-box.log-widget > article > ul.log-list li {
    list-style: none;
    background-color: rgba(255, 255, 255, 0.12);
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}


.widget-box.log-widget > article > ul.log-list li:last-child {
    margin-bottom: 0;
}

.widget-box.log-widget > article > ul.log-list li > .data {
    flex-grow: 1;
    padding: 10px;
}

.widget-box.log-widget > article > ul.log-list li > .data > .value {
    font-size: 18px;
    margin-bottom: 5px;
}

.widget-box.log-widget > article > ul.log-list li > .data > .time {
    font-size: 12px;
    color: #616161;
}

.widget-box.game-widget > article > .game-box {
    width: 100%;
    height: 100%;
}

.widget-box.compass-widget > article > .box {
    width: 100%;
    height: 100%;
    position: relative;
}

.widget-box .setting-btn {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 16px;
}

.widget-popup {
    position: absolute;
    top: 20px;
    right: -5px;
    width: 200px;
    min-height: 20px;
    background-color: #2d2d2d;
    box-shadow: 0 0 8px rgba(0, 0, 0, 1);
    cursor: default;
    padding: 10px;
    border-radius: 4px;
    font-size: 14px;
    z-index: 100;
}

.widget-popup::after {
    content: ' ';
    border: 8px solid transparent;
    border-bottom-color: #2d2d2d;
    position: absolute;
    right: 5px;
    top: -16px;
}

.widget-popup > .property {
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.widget-popup > .property > .label {
    flex-grow: 1;
    text-align: left;
    text-transform: capitalize;
}

.widget-popup > .property input,
.widget-popup > .property select {
    width: 80px;
    text-align: right;
    background-color: #1d1d1d;
    border: 1px solid #444444;
    border-radius: 4px;
    color: #E0E0E0;
    padding: 4px;
    outline: none;
    font-size: 14px;
}

.widget-popup > .property input:focus,
.widget-popup > .property select:focus {
    border-color: #03A9F4;
}

.widget-popup > .btn-group {
    text-align: center;
    margin: 10px;
    margin-top: 20px;
}

.widget-popup > .btn-group .delete {
    background-color: #F44336;
    color: #ffffff;
    border: 1px solid #C62828;
    border-radius: 3px;
    padding: 4px 6px;
    font-size: 14px;
}

.os-theme-dark>.os-scrollbar>.os-scrollbar-track>.os-scrollbar-handle {
    background: rgb(255 255 255 / 0.24);
}

.os-theme-dark>.os-scrollbar:hover>.os-scrollbar-track>.os-scrollbar-handle {
    background: rgb(255 255 255 / 0.24);
}
