* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #212F3C;
}

body > header {
    background-color: #F1C40F;
    box-shadow: 0 0 10px rgb(0 0 0 / 39%);
    z-index: 99999;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

body > header > .center {

}

.header-logo {
    font-size: 24px;
    font-weight: bold;
    color: #FFF;
    padding: 20px 30px;
}

ul.switch-mode {
    padding: 0;
    margin: 0;
    background-color: #B7950B;
    border-radius: 100px;
    display: flex;
    flex-direction: row;
    padding: 6px;
}

ul.switch-mode > li {
    list-style: none;
    padding: 10px 16px;
    color: #FFF;
    cursor: pointer;
}

ul.switch-mode > li.active {
    background-color: #FFF;
    border-radius: 100px;
    color: #B7950B;
}

/*
ul.switch-mode > li:first-child {
    padding-left: 20px;
}

ul.switch-mode > li:last-child {
    padding-right: 20px;
}
*/

body > section {
    flex-grow: 1;
    height: 100%;
    background-color: #FFFFFF;

    display: flex;
    flex-direction: row;
    width: 100%;
}

body > section > .block-category {
    width: 100px;
    height: 100%;
    box-shadow: 0 0 10px rgb(0 0 0 / 39%);
    z-index: 9999;
    background-color: #FDFEFE;
}

body > section > .block-category > ul {
    padding: 0;
    margin: 0;
}

body > section > .block-category > ul > li {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    cursor: pointer;
}

body > section > .block-category > ul > li.active {
    background-color: #ECF0F1;
}

body > section > .block-category > ul > li > .label {
    font-size: 14px;
    padding: 6px;
    padding-bottom: 10px;
    padding-top: 0;
}

body > section > .block-category > ul > li.active > .label {
    font-weight: bold;
}

body > section > .block-category > ul > li > .icon {
    padding: 6px;
    padding-top: 10px;
}

body > section > .block-category > ul > li > .icon > img {
    width: 60%;
}

body > section > .work-box {
    flex-grow: 1;
    width: 100%;
    height: 100%;
}

body > footer {
    width: 100%;
    box-shadow: 0 0 10px rgb(0 0 0 / 39%);
    z-index: 99999;
    background-color: #FFF;
}

body > footer > .control-box {
    padding: 14px;
}

body > footer > .control-box > ul.button-list {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
}

body > footer > .control-box > ul.button-list > li {
    list-style: none;
    padding: 0;
    margin: 0;
}

body > footer > .control-box > ul.button-list > li > button {
    border-radius: 100%;
    width: 50px;
    height: 50px;
    display: inline-block;
    outline: none;
    font-size: 22px;
    margin-right: 14px;
}

body > footer > .control-box > ul.button-list > li > button.zoom {
    transform: scale(1.6) translate(20px, -14px);
}

#blocklyArea {
    width: 100%;
    height: 100%;
}

.blocklyPathLight, .blocklyPathDark {
    display: none;
}

.dialog {
    position: absolute;
    width:500px;
    height: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999999;

    box-shadow: 0 0 10px rgb(0 0 0 / 39%);

    display: flex;
    flex-direction: column;
}

.dialog > header {
    background-color: #7F8C8D;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.dialog > header > .title {
    color: #FFF;
    padding: 4px 8px;
}

.dialog > header > .icon {
    padding: 4px 8px;
}

.dialog > header > .icon > button {
    border-radius: 100px;
    border: none;
    width: 20px;
    height: 20px;
    font-size: 10px;
    outline: none;
    color: #FFF;
}

.dialog > header > .icon > button > i {
    vertical-align: middle;
    text-align: center;
}

.dialog > header > .icon > button.red {
    background-color: #E74C3C;
}

.dialog > header > .icon > button.green {
    background-color: #27AE60;
}

.dialog > header > .icon > button.blue {
    background-color: #3498DB;
}
 
#terminal > section {
    background-color: #424949;
    height: 100%;
    flex-grow: 1;
    outline: none;
    color: #FFF;
    white-space: pre;
    overflow: auto;
    font-size: 14px;
}

.makeVariableStyle {
    fill: #2980B9;
}

.makeVariableStyle:hover {
    fill: #1A5276;
}

.makeVariableStyle > .blocklyFlyoutButtonShadow {
    display: none;
}
