
.logo-list {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    overflow: auto;
}

.logo-list > li {
    padding: 1rem;
    margin: 0;
    list-style: none;
}

.logo-list > li img {
    height: 120px;
}

.logo-list > li span {
    display: block;
    margin-top: 5px;
}